@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body .grid-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: none;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header" "section" "third";
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

body .grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 0rem;
}

body .menu-btn {
  padding: 2em;
  width: 2rem;
  float: right;
  cursor: pointer;
}

body .logo2 {
  width: 9em;
  padding-top: .45em;
  padding-left: .5em;
  float: left;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

body .grid-item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: section;
  margin: 0 1.5em 0 1.5em;
  position: relative;
}

body .profile {
  width: 80%;
  display: block;
  margin: 0 auto .2em auto;
  padding: 10px 10px 3px 3px;
  border-radius: 50%;
  border: solid;
  border-width: 3px;
  border-color: #F2AD19;
}

body h1 {
  font-size: 3rem;
  color: #F2AD19;
  margin: .3em 0 -.15em 0;
  line-height: 1em;
}

body h2 {
  color: #F2AD19;
  margin-bottom: .4em;
}

body .love {
  display: inline-block;
  margin-left: .2em;
  margin-top: auto;
  line-height: .1em;
}

body .heart {
  width: 1em;
  position: relative;
  height: 1em;
  z-index: -1;
  padding: 0;
  margin: 0;
}

body .pencil {
  width: 1em;
  position: relative;
  height: 1em;
  z-index: -1;
  padding: 0;
  margin: 0;
}

body .logo2:hover {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0.8;
}

body .grid-item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: third;
  margin: 0 1.5em 0 1.5em;
  position: relative;
}

body .grid-item-4 {
  display: none;
  grid-area: soft;
  grid-column: 0;
  grid-row: 0;
  float: right;
  margin: 0 10vw 0 0;
  position: relative;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .grid-item-5 {
  display: none;
  grid-area: ling;
  grid-column: 0;
  grid-row: 0;
  float: right;
  margin: 0 10vw 0 0;
  position: relative;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .grid-item-6 {
  display: none;
  grid-area: inter;
  grid-column: 0;
  grid-row: 0;
  margin: 0 10vw 0 0;
  position: relative;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/*
    .grid-item-3 {
        grid-area: footer;
        align-self: baseline;
        margin-bottom: 0rem;
        padding-bottom: 2em;;
    }
*/
nav {
  font-size: bold;
  position: absolute;
  background: white;
  padding: 2em;
  width: calc(100% - 4em);
  height: 100%;
  display: none;
  opacity: 0;
}

nav .close-btn {
  width: 1.5rem;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-rows: (40%)[4];
      grid-template-rows: repeat(4, 40%);
  list-style-type: none;
}

nav a {
  color: #F2AD19;
  font-weight: bold;
  font-size: 3em;
  cursor: pointer;
  padding: 2vh;
  text-decoration: none;
}

nav li {
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    grid-row-gap: none;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
        grid-template-areas: "header" "section third" "soft ling inter";
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .grid-container .grid-item-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    margin-top: 0rem;
  }
  .grid-container .grid-item-2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: section;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin: 0 0 0 10vw;
    position: relative;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid-container .profile {
    width: 80%;
    display: block;
    margin: 0 2em .2em auto;
    padding: 10px 10px 3px 3px;
    border-radius: 50%;
    border: solid;
    border-width: 3px;
    border-color: #F2AD19;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid-container .grid-item-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: third;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / span 3;
    float: right;
    margin: 0 10vw 0 0;
    position: relative;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid-container .grid-item-4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: soft;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    float: right;
    margin: -1em 10vw 0 0;
    position: relative;
    -ms-grid-column-align: left;
        justify-self: left;
    display: none;
  }
  .grid-container .grid-item-5 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: ling;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
    float: right;
    margin: -.8em 10vw 0 0;
    position: relative;
    -ms-grid-column-align: left;
        justify-self: left;
    display: none;
  }
  .grid-container .grid-item-6 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: inter;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 5;
    grid-row: 5;
    margin: -.8em 10vw 0 0;
    position: relative;
    -ms-grid-column-align: left;
        justify-self: left;
    display: none;
  }
  .grid-container h1 {
    margin: 0 0 -.15em 0;
  }
  .grid-container .topics {
    display: block;
  }
}

@media only screen and (min-width: 600px) and (min-width: 1000px) {
  .profile {
    width: 50%;
    display: block;
    margin: 0 2em .2em auto;
    padding: 10px 10px 3px 3px;
    border-radius: 50%;
    border: solid;
    border-width: 3px;
    border-color: #F2AD19;
  }
}

.show-menu {
  display: block;
  z-index: 3;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
  /*
    animation: mmfadeOut 1s ease-in forwards;
    */
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;
          animation: menu-item-anim .8s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .8s forwards 1.2s ease-in-out;
          animation: menu-item-anim .8s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .8s forwards 1.4s ease-in-out;
          animation: menu-item-anim .8s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .8s forwards 1.6s ease-in-out;
          animation: menu-item-anim .8s forwards 1.6s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
*/
/*# sourceMappingURL=about.css.map */