@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

    .grid-container {
        display: grid;
        grid-row-gap: none;
        grid-template-rows: 5em auto auto auto 5em;
        grid-template-areas:
        "header"
        "instag"
        "nove"
        "instadois"
        "port";
        align-content: stretch;
        min-height: 100%;
        
    }

    .grid-item-1 {
        grid-area: header;
        justify-content: right;
        margin-top: 0em;
    }

    .menu-btn {
        padding: 2em;
        width: 2rem;
        float: right;
        cursor: pointer;

    }

    .logo2 {
        width: 9em;
        padding-top: .45em;
        padding-left: .5em;
        float: left;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

    h1 {
        color: #F2AD19;
        font-size: 3rem;
        text-align: center;
        margin: .5em 0 -.1em 0;
    }

    h2 {
        color: #F2AD19;
        padding: 0;
        margin: .8em 0 -.4em 0;
        text-align: center;
    }

    p {
        text-align: center;
        margin-bottom: .7em;
        text-decoration: none;
    }

    b {
        color: grey;
    }

    .instagram {
        display: block;
        width: 9em;
        height: 2.6em;
        background-color: #f2ad19;
        border-radius: 20px;
        position: relative;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        line-height: 40px;
        text-decoration: none;
    }

    .instaBtn {
        font-weight: bold;
        font-size: 1.3em;
        color: white;
        cursor: pointer;       
    }

    .instagram:hover {
        background-color: #833ab4;
        transition: .25s;
    }

    a {
        text-decoration: none;
    }

    .grid-item-2 {
        grid-area: instag;
        margin: auto 1.5em 1em 1.5em;
        height: auto;
        width: auto;
    }

    .grid-item-3 {
        grid-area: nove;
        margin: 0;
        height: auto;
        width: 320px;
        align-content: center;
        justify-self: center;
    }

    .grid-item-4 {
        grid-area: instadois;
        margin: auto 1.5em 1em 1.5em;
        height: auto;
        width: auto;
    }

    .grid-item-7 {
        grid-area: port;
        display: grid;
        grid-auto-columns: 1fr 1fr;
        grid-column-gap: 1.5px;
        margin: auto auto 0 auto;
        margin-top: auto;
        padding: 0;
        grid-template-areas: "port1 port2";
        position: relative;
        margin-bottom: 1.5em;
    }

    .port1 {
        display: block;
        width: 9em;
        height: 2.6em;
        background-color: grey;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin: 0;
    }

    .port2 {
        display: block;
        width: 9em;
        height: 2.6em;
        background-color: grey;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin: 0;
    }

    .port1:hover {
        background-color: #F2AD19;
        transition: .25s;
    }

    .port2:hover {
        background-color: #F2AD19;
        transition: .25s;
    }

    .beBtn {
        font-weight: bold;
        font-size: 1.3em;
        color: white;
        cursor: pointer;       
    }
}

    nav {
        font-size: bold;
        position: absolute;
        background: white;
        padding: 2em;
        width: calc(100% - 4em);
        height: 100%;
        display: none;
        opacity: 0;
        z-index: 5;

        .close-btn {
            width: 1.5rem;
            float: right;
            cursor: pointer;
            opacity: 0;
        }

        ul {
            margin: 10% auto 0 auto;
            padding: 0;
            display: grid;
            width: 80%;
            grid-template-rows: repeat(4, 40%);
            list-style-type: none;
        }

        a {
            color: #F2AD19;
            font-weight: bold;
            font-size: 3em;
            cursor: pointer;
            padding: 2vh;
            text-decoration: none;
        }
        li {
            opacity: 0;
        }
    }

@media only screen and (min-width: 600px) {
        
        .grid-container {
        min-height: 100%;
        grid-template-rows: auto 2fr 11.5fr auto auto;
        display: grid;
        min-height: 100%;

        .grid-item-2 {
            padding: 0 10% 0 10%;
        }

        .grid-item-3 {
        width: 600px;
        margin: auto 0 auto 0;
        

        .item {
            height: auto;
        }
    }

        .grid-item-7 {
            
            position: relative;
            bottom: 1.5em;
            margin-top: auto;
            top: 95%;
            transform: translateY(-5%);
        }
    }
}

@media only screen and (min-width: 900px) {
        
    .grid-container {
    min-height: 100%;
    grid-template-rows: auto 2fr 11.5fr auto auto;
    display: grid;
    min-height: 100%;

    .grid-item-2 {
        padding: 0 10% 0 10%;
    }

    .grid-item-3 {
    width: 60em;
    
}

    .grid-item-7 {
        position: relative;
        
        bottom: 1.5em;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
}

@media only screen and (min-width: 2000px) {
        
    .grid-container {
    min-height: 100%;
    grid-template-rows: auto 2fr 11.5fr auto auto;
    display: grid;
    min-height: 100%;

    .grid-item-2 {
        padding: 0 10em 0 10em;
    }

    .grid-item-3 {
    width: 80em;
}

    .grid-item-7 {
        
        position: relative;
        bottom: 1.5em;
        margin-top: auto;
    }
}
}



.show-menu {
    display: block;
    z-index: 5;
    animation: slide-menu 1s ease-in forwards;
    /*
    animation: mmfadeOut 1s ease-in forwards;
    */

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .8s forwards 1s ease-in-out
    }
    li:nth-of-type(2) {
        animation: menu-item-anim .8s forwards 1.2s ease-in-out
    }
    li:nth-of-type(3) {
        animation: menu-item-anim .8s forwards 1.4s ease-in-out
    }
    li:nth-of-type(4) {
        animation: menu-item-anim .8s forwards 1.6s ease-in-out
    }
}

@keyframes slide-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
*/
