@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

body .grid-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: none;
  -ms-grid-rows: 5em auto auto auto 5em;
      grid-template-rows: 5em auto auto auto 5em;
      grid-template-areas: "header" "instag" "nove" "instadois" "port";
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  min-height: 100%;
}

body .grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 0em;
}

body .menu-btn {
  padding: 2em;
  width: 2rem;
  float: right;
  cursor: pointer;
}

body .logo2 {
  width: 9em;
  padding-top: .45em;
  padding-left: .5em;
  float: left;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

body h1 {
  color: #F2AD19;
  font-size: 3rem;
  text-align: center;
  margin: .5em 0 -.1em 0;
}

body h2 {
  color: #F2AD19;
  padding: 0;
  margin: .8em 0 -.4em 0;
  text-align: center;
}

body p {
  text-align: center;
  margin-bottom: .7em;
  text-decoration: none;
}

body b {
  color: grey;
}

body .instagram {
  display: block;
  width: 9em;
  height: 2.6em;
  background-color: #f2ad19;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

body .instaBtn {
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

body .instagram:hover {
  background-color: #833ab4;
  -webkit-transition: .25s;
  transition: .25s;
}

body a {
  text-decoration: none;
}

body .grid-item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: instag;
  margin: auto 1.5em 1em 1.5em;
  height: auto;
  width: auto;
}

body .grid-item-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nove;
  margin: 0;
  height: auto;
  width: 320px;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

body .grid-item-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: instadois;
  margin: auto 1.5em 1em 1.5em;
  height: auto;
  width: auto;
}

body .grid-item-7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: port;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-column-gap: 1.5px;
  margin: auto;
      grid-template-areas: "port1 port2";
  align-self: baseline;
}

body .port1 {
  display: block;
  width: 9em;
  height: 2.6em;
  background-color: grey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin: 0;
}

body .port2 {
  display: block;
  width: 9em;
  height: 2.6em;
  background-color: grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin: 0;
}

body .port1:hover {
  background-color: #F2AD19;
  -webkit-transition: .25s;
  transition: .25s;
}

body .port2:hover {
  background-color: #F2AD19;
  -webkit-transition: .25s;
  transition: .25s;
}

body .beBtn {
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

nav {
  font-size: bold;
  position: absolute;
  background: white;
  padding: 2em;
  width: calc(100% - 4em);
  height: 100%;
  display: none;
  opacity: 0;
  z-index: 5;
}

nav .close-btn {
  width: 1.5rem;
  float: right;
  cursor: pointer;
  opacity: 0;
}

nav ul {
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-rows: (40%)[4];
      grid-template-rows: repeat(4, 40%);
  list-style-type: none;
}

nav a {
  color: #F2AD19;
  font-weight: bold;
  font-size: 3em;
  cursor: pointer;
  padding: 2vh;
  text-decoration: none;
}

nav li {
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  .grid-container {
    min-height: 100%;
    -ms-grid-rows: auto 2fr 11.5fr auto auto;
        grid-template-rows: auto 2fr 11.5fr auto auto;
    display: -ms-grid;
    display: grid;
    min-height: 100%;
  }
  .grid-container .grid-item-2 {
    padding: 0 10% 0 10%;
  }
  .grid-container .grid-item-3 {
    width: 600px;
    margin: auto 0 auto 0;
  }
  .grid-container .grid-item-3 .item {
    height: auto;
  }
}

@media only screen and (min-width: 900px) {
  .grid-container {
    min-height: 100%;
    -ms-grid-rows: auto 2fr 11.5fr auto auto;
        grid-template-rows: auto 2fr 11.5fr auto auto;
    display: -ms-grid;
    display: grid;
    min-height: 100%;
  }
  .grid-container .grid-item-2 {
    padding: 0 10% 0 10%;
  }
  .grid-container .grid-item-3 {
    width: 60em;
  }
}

@media only screen and (min-width: 2000px) {
  .grid-container {
    min-height: 100%;
    -ms-grid-rows: auto 2fr 11.5fr auto auto;
        grid-template-rows: auto 2fr 11.5fr auto auto;
    display: -ms-grid;
    display: grid;
    min-height: 100%;
  }
  .grid-container .grid-item-2 {
    padding: 0 25vw 0 25vw;
  }
  .grid-container .grid-item-3 {
    width: 80em;
  }
}

@media only screen and (min-height: 910px) {
  .grid-container .grid-item-7 {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    position: absolute;
    bottom: 1.5em;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.show-menu {
  display: block;
  z-index: 5;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
  /*
    animation: mmfadeOut 1s ease-in forwards;
    */
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .8s forwards 1s ease-in-out;
          animation: menu-item-anim .8s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .8s forwards 1.2s ease-in-out;
          animation: menu-item-anim .8s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .8s forwards 1.4s ease-in-out;
          animation: menu-item-anim .8s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .8s forwards 1.6s ease-in-out;
          animation: menu-item-anim .8s forwards 1.6s ease-in-out;
}

@-webkit-keyframes slide-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/*
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
*/
/*# sourceMappingURL=ilustra.css.map */