@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

    .grid-container {
        display: grid;
        grid-row-gap: none;
        grid-template-rows: 1fr 15fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header header header"
        "section section section"
        "social social social";
        align-content: stretch;
        height: 100vh;
    }

    .grid-item-1 {
        grid-area: header;
        justify-content: right;
        margin-top: 0rem;
    }

    .menu-btn {
        padding: 2em;
        width: 2rem;
        float: right;
        cursor: pointer;

    }

    .grid-item-2 {
        grid-area: section;
        align-self: center;
        justify-self: center;
    }

    .logo1 {
        width: 60vw;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

    .logo1:hover {
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 0.8;
    }

    .grid-item-3 {
        grid-area: social;
        justify-self: center;
        align-self: baseline;
        margin-bottom: 0rem;
        padding-bottom: 2em;;
    }

    .behance-btn {
        width: 2em;
        cursor: pointer;
    }

    .instagram-btn {
        width: 1.5em;
        cursor: pointer;
        padding-left: .5em;
    }

    nav {
        font-size: bold;
        position: absolute;
        background: white;
        padding: 2em;
        width: calc(100% - 4em);
        height: calc(100vh - 4em);
        display: none;
        opacity: 0;

        .close-btn {
            width: 1.5rem;
            float: right;
            cursor: pointer;
            opacity: 0;
        }

        ul {
            margin: 10% auto 0 auto;
            padding: 0;
            display: grid;
            width: 80%;
            grid-template-rows: repeat(4, 40%);
            list-style-type: none;
        }

        a {
            color: #F2AD19;
            font-weight: bold;
            font-size: 3em;
            cursor: pointer;
            padding: 2vh;
            text-decoration: none;
        }
        li {
            opacity: 0;
        }
    }

}
.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;
    /*
    animation: mmfadeOut 1s ease-in forwards;
    */

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .8s forwards 1s ease-in-out
    }
    li:nth-of-type(2) {
        animation: menu-item-anim .8s forwards 1.2s ease-in-out
    }
    li:nth-of-type(3) {
        animation: menu-item-anim .8s forwards 1.4s ease-in-out
    }
    li:nth-of-type(4) {
        animation: menu-item-anim .8s forwards 1.6s ease-in-out
    }
}

@keyframes slide-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
*/