@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

    .grid-container {
        display: grid;
        grid-row-gap: none;
        grid-template-rows: 1fr 15fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header header header"
        "section section section"
        "social social social";
        align-content: stretch;
        height: 100vh;
    }

    .grid-item-1 {
        grid-area: header;
        justify-content: right;
        margin-top: 0rem;
    }


    .grid-item-2 {
        grid-area: section;
        align-self: center;
        justify-self: center;
    }

    .logo1 {
        width: 60vw;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

    .logo1:hover {
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 0.8;
    }

    .grid-item-3 {
        grid-area: social;
        justify-self: center;
        display: grid;
        grid-column-gap: 1.5px;
        grid-auto-columns: 1fr 1fr 1fr;
        margin: auto auto 1.5em auto;
        grid-template-areas: "port1 port2 port3";
        align-self: baseline;
    }

    a {
        text-decoration: none;
    }

    .port1 {
        display: block;
        width: 7em;
        height: 2.6em;
        background-color: white;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin: 0;
    }

    .port2 {
        display: block;
        width: 7em;
        height: 2.6em;
        background-color: white;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin: 0;
    }

    .port1:hover {
        background-color: grey;
        transition: .25s;
    }

    .port2:hover {
        background-color: grey;
        transition: .25s;
    }

    .port3 {
        display: block;
        width: 7em;
        height: 2.6em;
        background-color: white;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        cursor: pointer;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin: 0;
    }

    .port3:hover {
        background-color: grey;
        transition: .25s;
    }

    p {
        font-weight: bold;
        font-size: 1em;
        color: #F2AD19;
        cursor: pointer;
    }

    p:hover {
        color: white;
        transition: .25s;
    }

}