@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';

    .grid-container {
        display: grid;
        grid-row-gap: none;
        grid-template-rows: 1fr 5fr 5fr 5fr;

        grid-template-areas:
        "header"
        "draw"
        "uiux"
        "editorial";
        align-content: stretch;
        height: 100vh;
    }

    .grid-item-1 {
        grid-area: header;
        justify-content: right;
        margin-top: 0rem;
    }

    .menu-btn {
        padding: 2em;
        width: 2rem;
        float: right;
        cursor: pointer;

    }

    .logo2 {
        width: 9em;
        padding-top: .45em;
        padding-left: .5em;
        float: left;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        opacity: 1;
    }

    .title {
        font-size: 3rem;
        font-weight: bold;
        color: white;
        margin: 0;
        z-index: 3;
        
        position: relative;
        text-decoration: none;
    }

    .grid-item-2 {
        grid-area: draw;
        margin: 0;
        background: url(imgcss/ilustra.jpg);
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: auto;
        width: auto;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #F2AD19, $alpha: .6);
        z-index: 1;
    }

    .overlay:hover {
        background: rgba($color: #F2AD19, $alpha: .9);
        transition: .3s;
    }

    }

    .grid-item-3 {
        grid-area: uiux;
        margin: 0;
        background: url(imgcss/ilustra.jpg);
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: auto;
        width: auto;
    }

    .overlay2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #F2AD19, $alpha: .6);
        z-index: 1;
    }

    .overlay2:hover {
        background: rgba($color: #F2AD19, $alpha: .9);
        transition: .3s;
    }

    .grid-item-4 {
        grid-area: editorial;
        margin: 0;
        background: url(imgcss/editorial.jpg);
        background-size: cover;
        position: relative;
        overflow: hidden;
        height: auto;
        width: auto;
    }

    .overlay3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #F2AD19, $alpha: .6);
        z-index: 1;
    }

    .overlay3:hover {
        background: rgba($color: #F2AD19, $alpha: .9);
        transition: .3s;
    }




    }

    nav {
        font-size: bold;
        position: absolute;
        background: white;
        padding: 2em;
        width: calc(100% - 4em);
        height: 100%;
        display: none;
        opacity: 0;
        z-index: 5;

        .close-btn {
            width: 1.5rem;
            float: right;
            cursor: pointer;
            opacity: 0;
        }

        ul {
            margin: 10% auto 0 auto;
            padding: 0;
            display: grid;
            width: 80%;
            grid-template-rows: repeat(4, 40%);
            list-style-type: none;
        }

        a {
            color: #F2AD19;
            font-weight: bold;
            font-size: 3em;
            cursor: pointer;
            padding: 2vh;
            text-decoration: none;
        }
        li {
            opacity: 0;
        }
    }

    @media only screen and (min-width: 600px) {
        
        .grid-container {
            display: grid;
            grid-row-gap: none;
            grid-template-rows: 1fr 16fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
            "header header header"
            "draw uiux editorial";
            align-content: stretch;
            height: 100vh;
        }

    }


.show-menu {
    display: block;
    z-index: 5;
    animation: slide-menu 1s ease-in forwards;
    /*
    animation: mmfadeOut 1s ease-in forwards;
    */

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .8s forwards 1s ease-in-out
    }
    li:nth-of-type(2) {
        animation: menu-item-anim .8s forwards 1.2s ease-in-out
    }
    li:nth-of-type(3) {
        animation: menu-item-anim .8s forwards 1.4s ease-in-out
    }
    li:nth-of-type(4) {
        animation: menu-item-anim .8s forwards 1.6s ease-in-out
    }
}

@keyframes slide-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes menu-item-anim {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
/*
@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
*/

